<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div>
                <nav>
                    <a href="/" class="btn">Home</a>
                    <a href="/dashboard" class="btn">Dashboard</a>
                    {{#if loggedIn}}
                    <a href="/" id="logout"class="btn">Logout</a>
                    {{else}}
                    <a href="/login" class="btn">Login</a>
                    {{/if}}
                </nav>
            </div>
            <div>
                <h1 class="home-title" class="btn">Tech Blog</h1>
            </div>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            Thanks for visiting our website
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>
