<form class="login-form">
    <h2>Login</h2>
    <div>
        <label for="">Username:</label>
        <input type="text " id="username-login">
    </div>
    <div>
        <label for="">Password: </label>
        <input type="password" id="password-login">
    </div>
    <div>
        <input type="submit" value="Login">
    </div>

</form>

<form class="signup-form">
    <h2>Sign Up</h2>
    <div>
        <label for="">Username:</label>
        <input type="text " id="username-signup">
    </div>
    <div>
        <label for="">Password: </label>
        <input type="password" id="password-signup">
    </div>
    <div>
        <input type="submit" value="Signup">
    </div>

</form>
<script src="/javascript/login.js"></script>